body {
    margin: 0;
    padding: 0;
    background-color: #483D8B;
}

.caixa{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao {
    background-image: url("imagens/backgorund.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 600px;
    padding: 10px;
}

h1 {
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-size: 22px;
}

.semLinha {
    text-decoration: none;
}